body {
     margin: 0;
     background-color: #ffffff;
     font-family: Arial, Helvetica, sans-serif;
}

* {
     text-decoration: none;
}

body * :not(header) {
     border-radius: 5px;
}

#container {
     background-color: #dddddd;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: #d2d2d2;
     padding: 10px;
}

.logo {
     display: flex;
     align-items: center;
}

.logo h1 {
     color: #4A4D50;
}

.logo img {
     height: 50px;
     margin-right: 10px;
}

header nav {
     color: #ffffff;
     padding: 10px;
     display: flex;
     justify-content: space-between;
}

header nav>* {
     display: flex;
     justify-content: space-between;
}

nav .nav {
     display: flex;
     align-items: center;
}

header nav a.log-in,
header nav a.register {
     padding: 15px;
     border-radius: 10px;
     text-decoration: none;
     color: white;
     margin: 0px 5px 0px 10px;
     height: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     width: 100%;
}

header nav a.log-in {
     background-color: lightgreen;
}

header nav a.register {
     background-color: darkgreen;
}

.menu-hamburger {
     display: none;
     /* Ocultar inicialmente el menú hamburguesa */
     cursor: pointer;
     width: 30px;
     height: 30px;
     position: absolute;
     right: 20px;
}

.menu-hamburger img {
     height: 110%;
}

.nav-menu a {
     position: relative;
     display: block;
     margin-bottom: 10px;
     color: #fff;
     text-decoration: none;
}

.icon {
     display: none;
     height: 25px;
}

article {
     display: 	grid;
     grid-template-columns:
     
     ;
}



@media screen and (max-width: 700px) {
     header {
          flex-direction: column;
          justify-content: space-around;
          height: 10vh;
     }

     .menu-hamburger {
          display: block;
          /* Mostrar el menú hamburguesa en pantallas pequeñas */
     }

     .nav-menu {
          border-radius: 0;
          display: flex;
          flex-direction: column;
          font-size: large;
          top: 12vh;
          display: none;
          position: absolute;
          width: 75.1%;
          background-color: #4A4D50;
          padding: 10%;
          padding-right: 15%;
     }

     #menu-toggle:checked~.nav-menu {
          display: block;
          /* Mostrar el menú desplegable cuando el checkbox está marcado */
     }

     nav .nav {
          flex-direction: column;
     }

     nav .user {
          justify-content: space-around;
     }

     .icon {
          display: inline;
     }
}