body {
    font-family: sans-serif;
}

header {
    margin: 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: gray 0px 0px 10px 0px;
    height: 10vh;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #4A4D50;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

header nav {
    color: #ffffff;
    padding: 10px;
}

header nav a.log-in,
header nav a.register {
    padding: 10px;
    border-radius: 10px;
    color: white;
    margin: 0px 5px 0px 10px;
    box-shadow: gray 0px 0px 7.5px 0px;
}

header nav a.log-in {
    background-color: lightgreen;
}

header nav a.register {
    background-color: darkgreen;
}

#main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
